<li class="pet-card flex bg-[#8B2635] text-white rounded-lg p-3 gap-2">
  <div class="flex flex-col items-center justify-center w-1/4">
    <div class="w-10 h-10"><%= image_tag(pet.picture) %></div>
    <h3><%= pet.name %></h3>
  </div>
  <ul class="w-3/4">
    <li class="flex items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
        <path d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 12C13.1046 12 14 11.1046 14 10C14 8.89543 13.1046 8 12 8C10.8954 8 10 8.89543 10 10C10 11.1046 10.8954 12 12 12Z" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <h4>Country: <%= pet.country %></h4>
    </li>
    <li class="flex items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" version="1.1" id="Layer_1" width="20" height="20" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
        <path fill="#FFF" d="M256-0.5C114.333-0.5-0.5,114.333-0.5,256S114.333,512.5,256,512.5S512.5,397.667,512.5,256S397.667-0.5,256-0.5z    M256,472.422C136.47,472.422,39.578,375.53,39.578,256C39.578,136.47,136.47,39.578,256,39.578   c119.53,0,216.422,96.892,216.422,216.422C472.422,375.53,375.53,472.422,256,472.422z"/>
        <path fill="#FFF" d="M133.48,236.619c-9.394,8.673-6.982,27.397,5.385,41.863c12.368,14.45,29.996,19.131,39.374,10.427   c9.378-8.643,6.967-27.397-5.401-41.832C160.47,232.642,142.842,227.945,133.48,236.619z"/>
        <path fill="#FFF" d="M338.833,243.757c-11.006,15.625-11.694,34.52-1.55,42.223c10.129,7.671,27.257,1.314,38.247-14.325   c10.99-15.593,11.679-34.473,1.55-42.191C366.95,221.777,349.808,228.18,338.833,243.757z"/>
        <path fill="#FFF" d="M226.129,240.125c16.517-3.977,25.111-28.65,19.179-55.107c-5.887-26.458-24.078-44.681-40.595-40.705   c-16.501,4.008-25.08,28.681-19.194,55.139C191.452,225.879,209.628,244.102,226.129,240.125z"/>
        <path fill="#FFF" d="M309.057,144.313c-16.501-3.977-34.677,14.247-40.595,40.705c-5.918,26.458,2.661,51.131,19.193,55.107   c16.485,3.976,34.677-14.247,40.595-40.673C334.184,172.995,325.558,148.321,309.057,144.313z"/>
        <path fill="#FFF" d="M256,262.513c-39.374,0-68.932,62.7-68.932,83.444c0,51.005,29.558-1.613,68.932-1.613c39.39,0,68.932,52.618,68.932,1.613   C324.932,325.213,295.39,262.513,256,262.513z"/>
      </svg>
      <h4>Specie: <%= pet.species %></h4>
    </li>
    <li class="flex items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" width="20" height="20" viewBox="0 0 122.88 122.88" version="1.1" id="Layer_1" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve">
        <path fill="#FFF" d="M61.44,0c16.97,0,32.33,6.88,43.44,18c11.12,11.12,18,26.48,18,43.44c0,16.97-6.88,32.33-18,43.44 c-11.12,11.12-26.48,18-43.44,18S29.11,116,18,104.88C6.88,93.77,0,78.41,0,61.44C0,44.47,6.88,29.11,18,18 C29.11,6.88,44.47,0,61.44,0L61.44,0z M76.85,117.08L76.73,117l6.89-23.09L69.41,78.15L52.66,78L39.38,94.62l6.66,22.32l-0.15,0.1 c4.95,1.38,10.16,2.12,15.55,2.12C66.78,119.16,71.95,118.44,76.85,117.08L76.85,117.08z M12.22,91.61l24.34,0.12L49.28,75.8 l-5.26-16.12l-21.42-9.3L3.78,64.08C4.23,74.14,7.26,83.53,12.22,91.61L12.22,91.61z M16.77,24.88l7.4,22.14l19.98,8.68 l15.44-11.97V20.94L40.51,7.63c-7.52,2.93-14.28,7.39-19.89,13C19.27,21.98,17.98,23.4,16.77,24.88L16.77,24.88z M81.7,7.37 L63.3,20.77V43.7L77.8,54.91l20.81-8.92l7.18-21.49c-1.12-1.35-2.3-2.64-3.54-3.88C96.48,14.85,89.49,10.29,81.7,7.37L81.7,7.37z M119.09,64.36l-0.02,0.01L99.09,49.82l-19.81,8.49l-6.08,18.03l13.73,15.23c0.06,0.06,0.09,0.13,0.11,0.21l23.6-0.11 C115.56,83.65,118.59,74.34,119.09,64.36L119.09,64.36z"/>
      </svg>
      <h4>Position: <%= pet.position %></h4>
    </li>
    <li class="flex items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" width="20" height="20" viewBox="0 0 256 256" id="Flat">
        <path fill="#FFF" d="M215.96008,23.20947c-.01117-.11377-.03271-.22412-.04858-.33642-.02069-.146-.038-.29248-.06671-.4375-.026-.13086-.0622-.2583-.09461-.38721-.03106-.124-.05829-.24854-.09546-.37158-.03839-.12647-.08593-.24854-.13037-.37256-.04382-.12256-.08429-.24609-.13427-.3667-.04779-.11523-.104-.22559-.157-.33838-.05835-.124-.11358-.249-.17865-.3706-.05774-.10791-.12359-.21-.186-.31495-.07111-.11914-.13873-.24023-.21661-.35644-.07593-.11328-.16059-.22022-.242-.3291-.07464-.1001-.14429-.20264-.22424-.3003-.1521-.18505-.31384-.36181-.48175-.53271-.01654-.01709-.0304-.03564-.04712-.05225-.01935-.01953-.04077-.03515-.0603-.05468-.16852-.165-.34253-.32422-.525-.47413-.09424-.07763-.19366-.145-.29053-.21728-.1123-.084-.22229-.1709-.339-.249-.11236-.0752-.229-.14063-.34423-.20948-.109-.06494-.2157-.1333-.32807-.19384-.115-.06153-.23328-.11329-.35058-.16895-.11963-.05664-.23749-.11621-.3603-.167-.11077-.0459-.22387-.08252-.33618-.123-.13421-.04883-.267-.09961-.40442-.1416-.10833-.03223-.2185-.05615-.32788-.084-.14325-.03663-.28515-.07666-.43145-.10547-.12085-.02393-.24286-.03711-.36451-.05567-.13653-.02051-.27142-.04541-.41009-.05908-.20184-.01953-.40436-.02588-.60693-.03076C208.11768,16.00781,208.05981,16,208,16H168a8,8,0,0,0,0,16h20.686L164.25226,56.43359A67.97439,67.97439,0,1,0,112,175.51367V196H88a8,8,0,0,0,0,16h24v20a8,8,0,0,0,16,0V212h24a8,8,0,0,0,0-16H128V175.51367A67.9301,67.9301,0,0,0,175.09692,68.2168L200,43.314V64a8,8,0,0,0,16,0V24.00244C216.00006,23.73779,215.98608,23.47314,215.96008,23.20947ZM120,160a52,52,0,1,1,52-52A52.059,52.059,0,0,1,120,160Z"/>
      </svg>
      <h4>Gender: <%= pet.gender %></h4>
    </li>
    <li class="flex items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
        <path fill="#FFF" fill-rule="evenodd" d="M13.3256006,7.32558062 C12.0516006,8.59953062 10.3124006,8.94299062 9,8.99311062 L9,14 C9,14.5523006 8.55228062,15 8,15 C7.44772062,15 7,14.5523006 7,14 L7,10.9931006 C5.68757062,10.9430006 3.94837062,10.5995006 2.67442062,9.32558062 C0.348837624,7 1.12403062,3.12403062 1.12403062,3.12403062 C1.12403062,3.12403062 5,2.34884062 7.32558062,4.67442062 C7.35231062,4.70114062 7.37862062,4.72808062 7.40454062,4.75520062 C7.65733062,4.02001062 8.05637062,3.29246062 8.67442062,2.67442062 C11,0.348837624 14.8760006,1.12403062 14.8760006,1.12403062 C14.8760006,1.12403062 15.6512006,5 13.3256006,7.32558062 Z M9.00920062,6.99080062 C9.07159062,6.98768062 9.13502062,6.98371062 9.19932062,6.97876062 C10.2275006,6.89967062 11.2265006,6.59628062 11.9114006,5.91137062 C12.5963006,5.22645062 12.8997006,4.22752062 12.9788006,3.19932062 C12.9837006,3.13502062 12.9877006,3.07159062 12.9908006,3.00920062 C12.9284006,3.01232062 12.8650006,3.01629062 12.8007006,3.02124062 C11.7725006,3.10033062 10.7735006,3.40372062 10.0886006,4.08863062 C9.40372062,4.77355062 9.10033062,5.77248062 9.02124062,6.80068062 C9.01629062,6.86498062 9.01232062,6.92841062 9.00920062,6.99080062 Z M6.80068062,8.97876062 C6.86498062,8.98371062 6.92841062,8.98768062 6.99080062,8.99080062 C6.98768062,8.92841062 6.98371062,8.86498062 6.97876062,8.80068062 C6.89967062,7.77248062 6.59628062,6.77355062 5.91137062,6.08863062 C5.22645062,5.40372062 4.22752062,5.10033062 3.19932062,5.02124062 C3.13502062,5.01629062 3.07159062,5.01232062 3.00920062,5.00920062 C3.01232062,5.07159062 3.01629062,5.13502062 3.02124062,5.19932062 C3.10033062,6.22752062 3.40372062,7.22645062 4.08863062,7.91137062 C4.77355062,8.59628062 5.77248062,8.89967062 6.80068062,8.97876062 Z"/>
      </svg>
      <h4>Nature: <%= pet.nature %></h4>
    </li>
    <li class="flex items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" width="20" height="20" viewBox="0 0 512 512" xml:space="preserve">  
	      <path fill="#FFF" d="M256,64c105.875,0,192,86.125,192,192s-86.125,192-192,192c-105.859,0-192-86.125-192-192S150.141,64,256,64    M256,0C114.625,0,0,114.625,0,256c0,141.391,114.625,256,256,256s256-114.609,256-256C512,114.625,397.375,0,256,0z"/>
	      <path fill="#FFF" d="M264.375,170.594h-54.5c-8.703,0-15.75,7.031-15.75,15.719V347c0,8.688,7.047,15.719,15.75,15.719h7.906   c8.688,0,15.734-7.031,15.734-15.719v-45.25h30.859c41.266,0,74.844-29.406,74.844-65.594   C339.219,200,305.641,170.594,264.375,170.594z M264.375,267.219h-30.859v-62.125h30.859c19.547,0,35.438,13.938,35.438,31.063   S283.922,267.219,264.375,267.219z"/>
      </svg>
      <h4>PetCoins: <%= pet.donations.sum(:amount) %></h4>
    </li>
    <li class="flex items-center gap-1">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20" width="20" version="1.1" id="_x32_" viewBox="0 0 512 512" xml:space="preserve">
        <path fill="#FFF" d="M159.13,169.721c5.633,58.338,43.367,96.867,96.873,96.867c53.5,0,91.228-38.53,96.867-96.867l7.988-63.029   C365.814,44.768,315.281,0,256.003,0C196.72,0,146.189,44.768,151.142,106.692L159.13,169.721z"/>
        <polygon fill="#FFF" points="256.003,438.031 278.751,375.92 266.06,311.26 276.255,304.462 276.255,290.113 256.003,290.113    235.745,290.113 235.745,304.462 245.941,311.259 233.249,375.92  "/>
        <path fill="#FFF" d="M463.212,422.569l-3.824-24.35c-3.203-20.417-16.035-38.042-34.475-47.361l-80.472-40.693   c-10.813-5.46-13.678-22.243-13.678-22.243c-0.676-1.096-1.939-1.686-3.213-1.488c-1.273,0.188-2.308,1.113-2.637,2.359   l-9.432,36.254l-59.478,162.406l-59.486-162.406l-9.43-36.254c-0.328-1.246-1.363-2.172-2.637-2.359   c-1.273-0.197-2.539,0.392-3.213,1.488c0,0-2.865,16.783-13.678,22.243l-80.473,40.693c-18.442,9.319-31.272,26.944-34.475,47.361   l-3.826,24.35c-1.361,8.692,0.438,21.448,8.225,27.825C67.419,458.907,105.875,512,256.003,512   c150.123,0,188.576-53.093,198.986-61.606C462.779,444.017,464.576,431.261,463.212,422.569z"/>
      </svg>
      <h4>Sponsors: <%= pet.sponsorships.count %></h4>
    </li>
  </ul> 
</li>